CREATE TABLE [dbo].[ReportDataThresholds](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[BusinessUnit] [varchar](50) NULL,
	[SiteName] [varchar](100) NULL,
	[Department] [varchar](100) NULL,
	[LineName] [varchar](100) NULL,
	[NumericValue] [numeric](8,2) NOT NULL,
	[OverridesParent] [bit] NOT NULL,
	[ModifiedBy] [nvarchar](100) NOT NULL,
	[ModifiedAt] [datetime] NOT NULL,
	[ReportID] [int] NULL,

	CONSTRAINT [FK_ReportDataThresholds_ReportID] FOREIGN KEY (ReportID) REFERENCES [dbo].[ReportDefinitions] (ReportID),
	
	CONSTRAINT [PK_ReportDataThresholds] PRIMARY KEY CLUSTERED 
	(
		[ID] ASC
	)
)
GO
ALTER TABLE [dbo].[ReportDataThresholds] ADD CONSTRAINT [DF_ReportDataThresholds_OverridesParent] DEFAULT ((0)) FOR [OverridesParent]
GO
ALTER TABLE [dbo].[ReportDataThresholds] ADD CONSTRAINT [DF_ReportDataThresholds_ModifiedAt] DEFAULT (getdate()) FOR [ModifiedAt]
GO
