CREATE TABLE [dbo].[ReportDataExclusions](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[BusinessUnit] [varchar](50) NULL,
	[SiteName] [varchar](100) NULL,
	[Department] [varchar](100) NULL,
	[LineName] [varchar](100) NULL,
	[PUDesc] [varchar](100) NULL,
	[IsExcluded] [bit] NOT NULL,
	[OverridesParent] [bit] NOT NULL,
	[ModifiedBy] [nvarchar](100) NOT NULL,
	[ModifiedAt] [datetime] NOT NULL,
	[ReportID] [int] NULL,

	CONSTRAINT [FK_ReportDataExclusions_ReportID] FOREIGN KEY (ReportID) REFERENCES [dbo].[ReportDefinitions] (ReportID),
	
	CONSTRAINT [PK_ReportDataExclusions] PRIMARY KEY CLUSTERED 
	(
		[ID] ASC
	)
)
GO
ALTER TABLE [dbo].[ReportDataExclusions] ADD CONSTRAINT [DF_ReportDataExclusions_IsExcluded] DEFAULT ((1)) FOR [IsExcluded]
GO
ALTER TABLE [dbo].[ReportDataExclusions] ADD CONSTRAINT [DF_ReportDataExclusions_OverridesParent] DEFAULT ((0)) FOR [OverridesParent]
GO
ALTER TABLE [dbo].[ReportDataExclusions] ADD CONSTRAINT [DF_ReportDataExclusions_ModifiedAt] DEFAULT (getdate()) FOR [ModifiedAt]
GO
