CREATE OR ALTER PROCEDURE [dbo].[spGet_iODS_ActualRateGreaterThanTarget_Summary] (
	@business_lines VarcharTable READONLY
	,@startdate DATE = '2000-01-01'
	,@enddate DATE = '2999-01-01'
	)
AS

/* example:

declare @business_lines VarcharTable
,@startdate date = '2025-02-01'
,@enddate date = '2025-02-05'

exec dbo.spGet_iODS_ActualRateGreaterThanTarget_Summary @business_lines, @startdate, @enddate

*/

DECLARE @ReportID INT = 6;

DROP TABLE IF EXISTS #business_line_filter;

CREATE TABLE #business_line_filter (
	business_line NVARCHAR(113) NOT NULL
	);
	
INSERT INTO #business_line_filter(business_line)
SELECT DISTINCT [Value]
FROM @business_lines
WHERE [Value] IS NOT NULL;

/* check for no data to process */
IF NOT EXISTS (SELECT 1 FROM dbo.iODS_Production_Data pd JOIN #business_line_filter b ON pd.business_line = b.business_line
WHERE pd.Production_Day BETWEEN @startdate AND @enddate)
BEGIN
	/* return empty set for summary */
	SELECT 1
	WHERE 1 = 0;

	/* return 0 for total records count */
	SELECT 0 TotalDetailRecords;

	SELECT 'No iODS data found for the selected lines and time range.' AS ReturnMsg

	RETURN
END

DROP TABLE IF EXISTS #excluded_pu;

CREATE TABLE #excluded_pu (
	business_line NVARCHAR(113) NOT NULL
	,pu_id INT NOT NULL
	);

INSERT INTO #excluded_pu (
	business_line
	,pu_id
	)
SELECT x.business_line
	,pu.pu_id
FROM dbo.iODS_Site_Line_Xref x
JOIN #business_line_filter b ON x.business_line = b.business_line
JOIN dbo.iODS_Business_Line_PU pu ON x.business_line = pu.business_line
JOIN dbo.ReportDataExclusions e ON x.bu = e.BusinessUnit
	AND x.line_desc = e.LineName
	AND pu.pu_desc = e.PUDesc
	AND (e.ReportID = @ReportID OR e.ReportID IS NULL);

/* check all available data is excluded */
IF NOT EXISTS (SELECT 1 FROM dbo.iODS_Production_Data pd JOIN #business_line_filter b ON pd.business_line = b.business_line
WHERE pd.Production_Day BETWEEN @startdate AND @enddate
AND NOT EXISTS (
		SELECT 1
		FROM #excluded_pu e
		WHERE pd.business_line = e.business_line
			AND pd.pu_id = e.pu_id
		))
BEGIN
	/* return empty set for summary */
	SELECT 1
	WHERE 1 = 0;

	/* return 0 for total records count */
	SELECT 0 TotalDetailRecords;

	SELECT 'All available iODS data is being excluded for the selected lines and time range.' AS ReturnMsg

	RETURN
END

/* summary trend data */
SELECT ie.bu
	,ie.central_line_id
	,ie.pl_id
	,ie.pu_id
	,ie.site_id
	,x.site_desc
	,ad.ADSuffix
	,ISNULL(d.Alt_Dept_Desc, x.dept_desc) AS dept_desc
	,x.line_desc
	,pu.pu_desc
	,ie.production_day
	,ie.process_order
	,ie.start_time
	,ie.end_time
	,ie.actual_rate
	,ie.target_rate
	,ie.total_product
	,ie.scheduled_time
	,ie.uptime
	,ie.business_line
	,ie.HealthCheckStatusID
	,ie.ActualRateGreaterThanTargetID
FROM dbo.iODS_ActualRateGreaterThanTarget ie
JOIN #business_line_filter b ON ie.business_line = b.business_line
JOIN dbo.iODS_Site_Line_Xref x ON x.business_line = b.business_line
JOIN dbo.PlantNameADSuffix ad ON x.site_desc = ad.PlantName
LEFT JOIN dbo.iODS_Alt_Department d ON x.business_line = d.business_line
LEFT JOIN dbo.iODS_Business_Line_PU pu ON ie.business_line = pu.business_line
	AND ie.pu_id = pu.pu_id
WHERE ie.production_day BETWEEN @startdate AND @enddate
	AND NOT EXISTS (
		SELECT 1
		FROM #excluded_pu e
		WHERE ie.business_line = e.business_line
			AND ie.pu_id = e.pu_id
		)
ORDER BY ie.production_day
	,ie.business_line
	,ie.start_time
	,ie.pu_id;

SELECT COUNT(1) TotalDetailRecords
FROM dbo.iODS_Production_Data pd
JOIN #business_line_filter b ON pd.business_line = b.business_line
JOIN dbo.iODS_Site_Line_Xref x ON x.business_line = pd.business_line
WHERE pd.production_day BETWEEN @startdate AND @enddate
	AND EXISTS (
		SELECT 1
		FROM dbo.iODS_ActualRateGreaterThanTarget ie
		WHERE ie.production_day BETWEEN @startdate AND @enddate
			AND NOT EXISTS (
				SELECT 1
				FROM #excluded_pu e
				WHERE ie.business_line = e.business_line
					AND ie.pu_id = e.pu_id
				)
			AND ie.business_line = pd.business_line
			AND ie.process_order = pd.process_order
		)
	AND NOT EXISTS (
		SELECT 1
		FROM #excluded_pu e
		WHERE pd.business_line = e.business_line
			AND pd.pu_id = e.pu_id
		);

SELECT 'No outages detected for the selected lines and time range.' AS ReturnMsg;
GO