CREATE OR ALTER PROCEDURE [dbo].[spGet_iODS_ActualRateGreaterThanTarget_Detail] (
	@business_lines VarcharTable READONLY
	,@startdate DATE = '2000-01-01'
	,@enddate DATE = '2999-01-01'
	,@PageNumber INT = 1
	,@PageSize INT = 10
	,@SearchLine NVARCHAR(100) = NULL
	,@SearchFilter VARCHAR(50) = NULL /* process order */
	)
AS

/* example:

declare @business_lines VarcharTable
,@startdate date = '2025-02-01'
,@enddate date = '2025-02-05'
,@PageNumber INT = 1
,@PageSize INT = 10

exec dbo.spGet_iODS_ActualRateGreaterThanTarget_Detail @business_lines, @startdate, @enddate, @PageNumber, @PageSize

*/

DECLARE @ReportID INT = 6;

DROP TABLE IF EXISTS #business_line_filter;

CREATE TABLE #business_line_filter (
	business_line NVARCHAR(113) NOT NULL
	);
	
INSERT INTO #business_line_filter(business_line)
SELECT DISTINCT [Value]
FROM @business_lines
WHERE [Value] IS NOT NULL;

DROP TABLE IF EXISTS #excluded_pu;

CREATE TABLE #excluded_pu (
	business_line NVARCHAR(113) NOT NULL
	,pu_id INT NOT NULL
	);

INSERT INTO #excluded_pu (
	business_line
	,pu_id
	)
SELECT x.business_line
	,pu.pu_id
FROM dbo.iODS_Site_Line_Xref x
JOIN #business_line_filter b ON x.business_line = b.business_line
JOIN dbo.iODS_Business_Line_PU pu ON x.business_line = pu.business_line
JOIN dbo.ReportDataExclusions e ON x.bu = e.BusinessUnit
	AND x.line_desc = e.LineName
	AND pu.pu_desc = e.PUDesc
	AND (e.ReportID = @ReportID OR e.ReportID IS NULL);

/* detail data */
SELECT pd.bu
	,x.site_desc
	,ad.ADSuffix
	,ISNULL(d.Alt_Dept_Desc, x.dept_desc) AS dept_desc
	,x.line_desc
	,pd.production_day
	,pd.process_order
	,pd.prod_code
	,pd.prod_desc
	,pd.actual_rate
	,pd.target_rate
	,pd.line_status
	,pd.start_time
	,pd.end_time
	,pd.shift_desc
	,pd.team_desc
	,pd.pu_desc
	,pd.good_product
	,pd.total_product
	,pd.total_scrap
	,pd.total_cases
	,pd.scheduled_time
	,pd.business_line
	,CASE 
		WHEN pd.actual_rate > pd.target_rate
			THEN 1
		ELSE 0
		END AS Highlight
	,COUNT(*) OVER () AS TotalFilteredCount
FROM dbo.iODS_Production_Data pd
JOIN #business_line_filter b ON pd.business_line = b.business_line
JOIN dbo.iODS_Site_Line_Xref x ON x.business_line = b.business_line
JOIN dbo.PlantNameADSuffix ad ON x.site_desc = ad.PlantName
LEFT JOIN dbo.iODS_Alt_Department d ON x.business_line = d.business_line
WHERE pd.production_day BETWEEN @startdate AND @enddate
	AND (x.line_desc = @SearchLine OR @SearchLine IS NULL)
	AND (pd.process_order = @SearchFilter OR @SearchFilter IS NULL)
	AND EXISTS (
		SELECT 1
		FROM dbo.iODS_ActualRateGreaterThanTarget ie
		WHERE ie.production_day BETWEEN @startdate AND @enddate
			AND ie.business_line = pd.business_line
			AND ie.process_order = pd.process_order
		)
	AND NOT EXISTS (
		SELECT 1
		FROM #excluded_pu e
		WHERE pd.business_line = e.business_line
			AND pd.pu_id = e.pu_id
		)
ORDER BY pd.production_day
	,pd.business_line
	,pd.start_time
	,pd.pu_id
OFFSET (@PageNumber - 1) * @PageSize ROWS
FETCH NEXT @PageSize ROWS ONLY;
GO