/* Line Status TABLE */
DROP TABLE IF EXISTS dbo.iODS_MD_LineStatus;
GO

CREATE TABLE dbo.iODS_MD_LineStatus (
	line_status VARCHAR(50) NOT NULL
	,PRIn BIT NOT NULL
	,PROut BIT NOT NULL
	,EO BIT NOT NULL
	,ProjectConstruct BIT NOT NULL
	,ScheduleVar BIT NOT NULL
	,Invalid BIT NOT NULL
    CONSTRAINT [PK_iODS_MD_LineStatus] PRIMARY KEY CLUSTERED (
		[line_status] ASC
		)
	);
GO

ALTER TABLE dbo.iODS_MD_LineStatus ADD CONSTRAINT [DF_iODS_MD_LineStatus_PRIn]  DEFAULT ((0)) FOR [PRIn]
GO

ALTER TABLE dbo.iODS_MD_LineStatus ADD CONSTRAINT [DF_iODS_MD_LineStatus_PROut]  DEFAULT ((0)) FOR [PROut]
GO

ALTER TABLE dbo.iODS_MD_LineStatus ADD CONSTRAINT [DF_iODS_MD_LineStatus_EO]  DEFAULT ((0)) FOR [EO]
GO

ALTER TABLE dbo.iODS_MD_LineStatus ADD CONSTRAINT [DF_iODS_MD_LineStatus_ProjectConstruct]  DEFAULT ((0)) FOR [ProjectConstruct]
GO

ALTER TABLE dbo.iODS_MD_LineStatus ADD CONSTRAINT [DF_iODS_MD_LineStatus_ScheduleVar]  DEFAULT ((0)) FOR [ScheduleVar]
GO

ALTER TABLE dbo.iODS_MD_LineStatus ADD CONSTRAINT [DF_iODS_MD_LineStatus_PROut_Invalid]  DEFAULT ((1)) FOR [Invalid]
GO

INSERT INTO dbo.iODS_MD_LineStatus (
	[line_status]
	,[PRIn]
	,[PROut]
	,[EO]
	,[ProjectConstruct]
	,[ScheduleVar]
	,[Invalid]
	)
SELECT [line_status]
	,[PRIn]
	,[PROut]
	,[EO]
	,[ProjectConstruct]
	,[ScheduleVar]
	,[Invalid]
FROM (
VALUES ( '????',                                 0,  0,  0,  0,  0,  1 )
,      ( 'Planned Idle Time (Non-STNU)',         0,  0,  0,  0,  0,  1 )
,      ( 'Planned Idle Time (STNU)',             0,  0,  0,  0,  0,  1 )
,      ( 'PR In: EO Shippable',                  1,  0,  1,  0,  0,  0 )
,      ( 'PR In: EO vendável',                   0,  0,  0,  0,  0,  1 )
,      ( 'PR In: Line Normal',                   1,  0,  0,  0,  0,  0 )
,      ( 'PR In: Line Project',                  1,  0,  0,  0,  0,  0 )
,      ( 'PR In: Projeto de Linha',              0,  0,  0,  0,  0,  1 )
,      ( 'PR In: Qualificação',                  1,  0,  0,  0,  0,  0 )
,      ( 'PR In: Qualification',                 1,  0,  0,  0,  0,  0 )
,      ( 'PR In: Touchless Shift',               1,  0,  0,  0,  0,  0 )
,      ( 'PR In:Line Normal',                    1,  0,  0,  0,  0,  0 )
,      ( 'PR Out',                               0,  1,  0,  0,  0,  0 )
,      ( 'PR Out: Brand Project',                0,  1,  0,  0,  0,  0 )
,      ( 'PR Out: EO Não Vendável',              0,  1,  1,  0,  0,  0 )
,      ( 'PR Out: EO Non-Shippable',             0,  1,  1,  0,  0,  0 )
,      ( 'PR Out: Line Not Staffed',             0,  1,  0,  0,  0,  0 )
,      ( 'PR Out: Project Construct',            0,  1,  0,  1,  0,  0 )
,      ( 'PR Out: Project Construction',         0,  1,  0,  1,  0,  0 )
,      ( 'PR Out: Projeto de Construção',        0,  1,  0,  1,  0,  0 )
,      ( 'PR Out: STNU',                         0,  1,  0,  0,  0,  0 )
,      ( 'PR Out: STNU Schedule Var',            0,  1,  0,  0,  1,  0 )
,      ( 'PR Out: STNU Variação de Programação', 0,  0,  0,  0,  0,  1 )
,      ( 'PR Out:STNU',                          0,  1,  0,  0,  0,  0 )
) AS baseTable([line_status], [PRIn], [PROut], [EO], [ProjectConstruct], [ScheduleVar], [Invalid])
WHERE NOT EXISTS (
	SELECT 1
	FROM dbo.iODS_MD_LineStatus
	WHERE line_status = baseTable.line_status
	)

/* Add New Line Status */
;WITH ls
AS (
	SELECT DISTINCT line_status
	FROM dbo.iODS_Production_Data
	
	UNION
	
	SELECT DISTINCT line_status
	FROM dbo.iODS_DowntimeUptime_Data
	)
INSERT INTO iODS_MD_LineStatus (line_status)
SELECT line_status
FROM ls
WHERE NOT EXISTS (
		SELECT 1
		FROM dbo.iODS_MD_LineStatus
		WHERE line_status = ls.line_status
		);